.aside__nav{
  grid-area: nav;
  background-color: $background_color;
  padding: 15px;
  &__item + &__item{
    border-top: solid #fff 1px;
  }
  &__link{
    @include font_header_nav;
    color: $white;
    padding: 15px;
    padding-left: 0;
    text-transform: uppercase;
    @include animate_left_border($first_color);
  }
}