/* CONTAINER */
.container{
  // background-color: $background_color;
  display: grid;
  grid:
    "header header" 75px
    "nav    content" 1fr
    "nav    log" 25px
    "footer footer" 50px
    / 1fr 5fr
  ;
  height: 100vh;
}

@mixin grid($num_colums){
  display: grid;
  grid-template-columns: repeat($num_colums, [col-start] minmax(200px, 1fr) [col-end]);
}