.header{
  grid-area: header;
  // grid-column: span 2;
  background: $background_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  &__nav{
    &__container{
      display: flex;
    }
    &__item + &__item{
      margin-left: 15px;
    }
    &__link, &__text{
      color: $white;
      @include font_header_nav;
    }
    &__link{
      @include text_color_animate($first_color);
    }
    &__link.active{
      color: $first_color;
    }
  }
}