.main__index{
  display: grid;
  grid: 
    "logo login" 100vh
    / 1fr 1fr
  ;
}

.logo{
  grid-area: logo;
  padding: 15px;
  background-color: $background_color;
  &__img{
    display: block;
    width: 100%;
    height: 100%;
    
  }
}

.login{
  grid-area: login;
  justify-self: stretch;
  padding: 30px 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__img{
    min-height: 35%;
  }

  &__form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &__input{
    margin-bottom: 15px;
    padding: 5px;
    @include font_header_nav;
    color: $font_color;
  }

  &__label{
    &__link{
      text-align: right;
      @include font_index_link;
      color: $font_color;
      @include text_color_animate($first_color);
    }
  }

  &__button{
    @include font_index_link;
    margin-top: 15px;
    padding: 10px 45px;
    cursor: pointer;
    border: none;
    background: $background_color;
    color: $white;
    align-self: center;
    @include animate_background_color($first_color);
  }

  .erro{
    display: none;
  }
}

